*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: system-ui, Arial;
    background: white;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #111;  

    display: flex;
    justify-content: space-between;
    padding: 18px 20px;
    align-items: center;
    /* box-shadow: 0 10px 30px rgba(30, 60, 114, 0.35); */
    z-index: 1000;
}

.logo {
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#search {
    padding: 8px 9px;
    background: white;
    color: white;
    width: 220px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Menu Button */
.menu-btn {
    display: none;
    background: white;
    color: black;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    border: none;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    max-width: 1100px;
    margin: auto;
}

.hero h1 {
    font-size: 42px;
}

.hero p {
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 5px;
}

.btn-primary {  
    background: #017a44;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

/* Features */
.features {
    display: grid;
    gap: 20px;
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
}

.feature-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 6px solid;
    box-shadow: 0 5px 15px rgba(176, 176, 176, 0.35), -0 -5px 8px rgba(176, 176, 176, 0.35);
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    background: #ffffff;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(176, 176, 176, 0.35), -0 -5px 8px rgba(176, 176, 176, 0.35);
}

.stats h2 {
    color: #ff6739;
}
.stats div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Courses Layout */
.layout {
    display: flex;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: 2rem auto;
}

.sidebar {
    width: 220px;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(176, 176, 176, 0.35), -0 -5px 8px rgba(176, 176, 176, 0.35);
}

.sidebar ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid;
    border-radius: 10%;
}

.content {
    flex: 1;
}
.content h2{
    color: rgb(239, 67, 67);
    text-align: center;
    margin: 1rem auto;
}
/* Course Grid  */
.course-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.course-card {
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(176, 176, 176, 0.35), -0 -5px 8px rgba(176, 176, 176, 0.35);
    padding: 12px;
    border-radius: 10px;
    border-bottom: 5px solid black;
    transition: 0.3s;
}

.course-card:hover {
    transform: translateY(-5px);
    border-color: #ff5722;
}

.course-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 8px;
}

/* Player Page */
.player-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.lesson-bar {
    width: 260px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(176, 176, 176, 0.35), -0 -5px 8px rgba(176, 176, 176, 0.35);
    padding: 15px;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
}
.lesson-bar h3{
    margin-bottom: 1rem;
}
.lesson-bar ul{
    list-style: none;
    padding-left: 1rem;
    
}

.video-area iframe {
    width: 100%;
    height: 500px;
    border: none;
}

/* About */
.about {
    max-width: 1000px;
    margin: 30px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
}
.about h2{
    margin-bottom: 1rem;
}
/* Back Button */
.back-btn {
    margin: 20px;
    padding: 10px 20px;
    background: #ff5722;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

/* Mobile View */

@media (max-width: 768px) {
   .logo{
    font-size: 25px;
   }
    .menu-btn {
        display: block;
    }

    .nav-right {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #090404;
        padding: 15px;
        align-items: center;
    }

    .nav-right.active {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    #search {
        width: 100%;
        
    }

    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
    .stats{
        flex-direction: column;
        gap: 30px;
    }

    .course-grid {
        grid-template-columns: 1fr;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    .player-layout {
        flex-direction: column;
    }

    .lesson-bar {
        width: 100%;
    }

    .video-area iframe {
        height: 260px;
    }
}
